/* =============================== */
/* 1. Reset o Normalización global */
/* =============================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Añadir otros estilos globales si es necesario */
}

/* =============================== */
/* 2. Tipografía y Estilos Básicos */
/* =============================== */
body {
    background-color: #00f2ff; /* Color de fondo por defecto */
   
}


/* =============================== */
/* 3. Estilos para Contenedores */
/* =============================== */


/* =============================== */
/* 4. Reglas de Elementos (Etiquetas HTML) */
/* =============================== */




/* =============================== */
/* 5. Reglas de Clases */
/* =============================== */


/* =============================== */
/* 6. Reglas de ID */
/* =============================== */


/* =============================== */
/* 7. Estilos con Atributos */
/* =============================== */


/* =============================== */
/* 8. Pseudoclases */
/* =============================== */

/* =============================== */
/* 9. Pseudoelementos */
/* =============================== */


/* =============================== */
/* 10. Estilos Combinados (combinaciones de selectores) */
/* =============================== */


/* =============================== */
/* 11. Estilos con !important */
/* =============================== */


/* =============================== */
/* 12. Media Queries (Responsivos) */
/* =============================== */

